@import url(./font.css);
:root {

  /*colors*/
  --primary-color: #06153C;
  --secondary-color: #e85666; /*light red*/
  --text-color: #182830; /*black*/
  --text-color-white: #fff; /*white*/
  --title-color: #777777;
  --border-color:#201f1f17 ;
  --gradient:linear-gradient(90deg,#4458dc 0%, #844fee 100%);
  --shadow:0px 10px 30px rgba(118,85,255,0.3);
  --box-shadow: 10px 10px 10px 0px rgba(57,56,61,0.205),
  -10px -10px 20px 0px rgba(57,56,61,0.205);

  /*fonts*/
  --body-font: "BerkshireSwash",serif;
  --title-font:"Roboto",cursive;
  --subtitle-font:"Lateef",sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  letter-spacing: 2px;
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

h1,h2,h3,h4{
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

}
img {
  width: 100%;
}

/*reusable class*/
.title-text {
  font:normal bold 40px/50px var(--roboto);
}
.font-size-12 {
  font-size: 12px;
}

.font-size-14{
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-20 {
  font-size: 20px;
}
.button {
  padding: .799rem 2.2rem;
  /*font:normal 500 1rem/1rem var(--text-color);*/
  color:#000;
  position: relative;
  font-size: 1rem;
  background: transparent;
  border: 1px solid var(--text-color);
  border-radius: 16px;
}
.button.primary-button{
  background: transparent;
  background-clip: padding-box;
  color: #000;
  transition: background .6s ease;
  box-shadow:0 10px 30px rgba(57,56,61,0.205);
}
.button.primary-button:hover{
  background: black;
  background-clip: padding-box;
  color: white;
}
.button.primary-button::after,.button.secondary-button::after {
  position: absolute;
  top:-2px;
  left:-2px;
  bottom:-2px;
  right:-2px;
  background:transparent;
  content:"";
  z-index: -1;
  border-radius: 4px;
}
.button.secondary-button{
  background: #000;
  color: #fff;
  letter-spacing: 2px;
  background-clip: padding-box;
  transition: background .6s ease;
}
.button.secondary-button:hover{
  background: transparent;
  color: #000;
  box-shadow: 0 10px 30px rgba(57,56,61,0.205);
}


/* SIDE BAR */
.navbar {
    transition: all 0.7s ease;
}
.sidebar_inner {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: var(--primary-color);
  z-index: 999;
  transition: all 0.3s ease;
}
.sidebar_inner .profile_info .profile_img {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  background: #fff;
  border-radius: 50%;
}
.sidebar_inner .profile_info .profile_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sidebar_inner .profile_info .profile_name {
  font-weight: 700;
  font-family: var(--title-font);
  margin: 5px 0;
}

/* MENU */
.sidebar_menu li {
  /*border: 1px solid white;*/
  text-align: center;
  margin: 5px 0;
}
.sidebar_menu li a {
  color: #fff;
  padding: 12px 0;
  position: relative;
}
.sidebar_menu li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: var(--secondary-color);
  display: none;
}
.sidebar_menu li a:hover,
.sidebar_menu li a:focus {
  background: #011135;
}
.sidebar_menu li a:hover:before {
  display: block;
}

#header {
   background: var(--primary-color);
   overflow: hidden;
}


.strip button {
  padding: 0 !important;
}
.text-dark{
  color: black;
}

.navbar-toggler {
  display: none;
  position: relative;
  font-size: 20px;
  height: 30px;
  width: 30px;
  overflow: hidden;
  /*background: #fff;*/
  padding: 0;

}
.toggle-icon {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 30px;
  color: #fff;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo a {
  position: relative;
  color: var(--secondary-color);
  font-size: 40px;
  font-family: var(--subtitle-font);
  font-style: italic;
  text-align: center;
}
.logo a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--secondary-color);
  
}
.close {
  position: absolute;
  top: 5px;
  right: 15px;
  color: #fff;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  display: none;
}
.close:hover{
  opacity:0.5;
}

/* PAYMENT PAGE */
.subtitle-section {
  /*width: 95%;*/
  text-align: center;
  margin: 0 auto;
}
.subtitle p {
  background: #ccc;
  color: var(--text-color);
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: .1px;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {

  .navbar-toggler {
    display: block;
  }
  .strip {
  overflow: hidden;
  }
  .sidebar_inner .profile_info .profile_img {
    position: relative;
    width: 90px;
    height: 90px;
    overflow: hidden;
    background: #fff;
    border-radius: 50%;
  }
  .logo a {
    position: relative;
    color: var(--secondary-color);
    font-size: 28px;
    font-family: var(--subtitle-font);
    font-style: italic;
    text-align: center;
  }
  .sidebar_inner .profile_info .profile_img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .sidebar_inner .profile_info .profile_name {
    font-weight: 700;
    font-family: var(--title-font);
    margin: 5px 0;
    font-size: 16px;
  }
  /* MENU */
  .sidebar_menu li {
    /*border: 1px solid white;*/
    text-align: center;
  }
  .sidebar_menu li a {
    color: #fff;
    padding: 8px 0;
    position: relative;

  }
  .close {
    display: block;
  }
  .toggle-btn {
    border: 1px solid var(--border-color);
    background: var(--secondary-color);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    color: #fff;
  }
  .toggle-btn .fas {
    padding:.7rem 1rem;
  }
  .form {
    display: none;
  }
  .form-search {
    /*border: 1px solid black;*/
    text-align: left;
    padding: 20px;
    box-shadow: var(--box-shadow);
    background: #fff;
    border-radius: 16px;
  }
  .form-button{
    margin-top: 5px;
    padding: .3rem .5rem;
    border-radius: 10px;
  }
  .form-search .form-label {
    color: #767676;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14px;
    margin: 0;
    font-family: var(--title-color);
  }
  .form-search input {
    padding: 10px auto;
    border: none;
    background: transparent;
    width: 80%;
    font-size: 16px;
    font-family: var(--title-font);
    text-transform: capitalize;
    border-radius: unset;
    border-bottom: 1px solid #767676;
  }
  .form-search input:focus,
  .form-search input:active {
    outline: transparent;
  }
  .submit-button {
    padding: .4rem .5rem;
    border-radius: 10px;
    background: var(--secondary-color);
    border: none;
    color: #fff;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: var(--box-shadow);

  }
  .busBox {
    position: relative;
    overflow: hidden;
    clear: both;
    border-radius: 1rem;
    box-shadow: var(--box-shadow),
                -8px -8px 8px 0 rgba(255,255,255,0.5);

  }
  .bus-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

  }
  .bus-name h4{
    /*background: var(--secondary-color);*/
    font-family: sans-serif;
    letter-spacing: unset;
  }

  .bus-info h4 {
    font-size: 20px;
  }
  .pay {
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: unset;
  }
  .trip {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 6px;
  }
  .busImg {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .busImg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .location {
    margin: .7rem 0 0 0 ;
    color: var(--text-color);
    font-family: sans-serif;
  }
  .location p {
    padding: 0 auto;
    margin: 0;
  }
  .time p {
    padding: 0 auto;
    margin: 0;
  }
  .info {
    padding: 0;
    margin: 10px 0;
  }
  .time {
    color: var(--text-color);
    font-family: sans-serif;
    margin: 0 ;

  }
  .departs,.seats {
    position: relative;
    color: #000;
    text-align: center;
    box-shadow: var(--box-shadow),
                -12px -12px 12px 0 rgba(255,255,255,0.5);
    margin:0 10px ;
    letter-spacing: unset;
    font-family: sans-serif;
    border-radius: 10px;
    background: var(--gradient);

  }
  .departs p,.seats p {
    font-size: 14px;
    padding: 5px ;
  }
  .book-btn {
    margin-top: 10px;
    /*background: var(--secondary-color);*/
    /*width: 75%;*/
  }
  .book-btn a {
    background: var(--secondary-color);
    color: #fff;
    font-family: sans-serif;
    border-radius: 22px;

  }
  /* SELECT SEAT CSS */
  .back-home {
    /*padding: 12px 10px 0 10px;*/
    padding-left: 20px;
    /*background: red;*/

  }
  .back-home a{
    /*background: red;*/
    color: #ccc;
    font-size: 25px;

    
    
  }
  .back-select a{
    /*background: red;*/
    color: #ccc;
    font-size: 25px;

    
    
  }
  .location-seat {
    font-size: 16px;
    padding: 12px 10px 0 10px;
    font-family: var(--title-font) !important;
    color: #ccc;

  }
  .location-seat p {
    margin-left:8px ;
  }
  .seat-color {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6px;
    box-shadow: var(--box-shadow),
                -12px -12px 12px 0 rgba(255,255,255,0.5);
    padding: .5rem auto; 
    overflow: hidden;
    border-radius: 22px;
  }
  .seat-color > div {
    background: #1111;
  }
  .color {
    width: 20px;
    height: 20px;
    border-radius: 50% ;
    position: relative;
    background: red;

  }
  .red {
    background: var(--secondary-color);
  }
  .green {
    background: var(--primary-color);
  }
  .grey {
    background: #ccc;
  }
  .seat-colors { 
    font-size: 12px;
    position: relative;
    font-family: sans-serif;
    text-align: center;
    font-weight: 700;
    /*background: #ccc;*/
    padding: 0 10px;
    display: flex;
    justify-content: center;
    /*margin: 0 auto;*/
    text-transform: capitalize;

  }
  .bus-section {
    box-shadow: 0px 10px 30px rgba(57,56,61,0.205),
                -9px -9px -9px 0  rgba(255,255,255,0.5);
  }
  .whole-bus  {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 6px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden; 

  }
  .whole-bus > div {
    /*background: var(--secondary-color);*/
    height: 60px;
    /*margin: 1px 0;*/
    padding: 5px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-gap: 6px;*/
  } 
  /* .column {
    /*background: var(--primary-color);*/
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
  } */
  .column .seat {
    /*padding: 6px 8px;*/
    background: #ccc;
    width: 38px;
    height: 40px;
    margin: 0 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: inset 0px 10px 30px rgba(57,56,61,0.205),
                inset -9px -9px -9px 0  rgba(255,255,255,0.5);
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .column .seat.booked {
    background: var(--primary-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .column .seat.selected {
    background: var(--secondary-color);
    color: #fff;
  }
  .column .seat:not(.booked):hover {
    cursor: pointer;
  }
  p.text {
    margin: 10px auto;
    font-family: monospace;
  }

  p.text span {
    color: var(--secondary-color);
    font-family: monospace;
  }

  /* PAYMENT PAGE */
  .travel-summary {
    box-shadow: var(--box-shadow);
    border-radius: 22px;
    padding: 10px 15px;
  }
  .travel-summary h5 {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
  }
  .subtitle-travel h6 {
    font-size: 12px;
    font-family: var(--subtitle-font);
    font-weight: 500;
  }
  .subtitle-travel h6:first-child{
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  .subtitle-travel p {
    font-size: 12px;
    font-family: var(--subtitle-font);
  }
  .total {
    font-weight: 500;
    font-family: monospace;
    margin-top: 10px;
    text-transform: capitalize;
  }
  .total span {
    margin-left: 5px;
    font-family: var(--subtitle-font);
    font-weight: bold;
  }

  .pay-methods {
    font-family: monospace;
    /*font-weight: bold;*/
  }
  .pay-methods button {
      font-weight: bold;

  }

}
