@import url(./font.css);
:root {

  /*colors*/
  --primary-color: #06153C;
  --secondary-color: #e85666; /*light red*/
  --text-color: #182830; /*black*/
  --text-color-white: #fff; /*white*/
  --title-color: #777777;
  --border-color:#201f1f17 ;
  --gradient:linear-gradient(90deg,#4458dc 0%, #844fee 100%);
  --shadow:0px 10px 30px rgba(118,85,255,0.3);
  --box-shadow: 0px 10px 30px rgba(57,56,61,0.205);

  /*fonts*/
  --body-font: "BerkshireSwash",serif;
  --title-font:"Roboto",cursive;
  --subtitle-font:"Lateef",sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  letter-spacing: 2px;
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

h1,h2,h3,h4{
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

}
img {
  width: 100%;
}

/*reusable class*/
.title-text {
  font:normal bold 40px/50px var(--roboto);
}
.font-size-12 {
  font-size: 12px;
}

.font-size-14{
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-20 {
  font-size: 20px;
}
.button {
  padding: .799rem 2.2rem;
  /*font:normal 500 1rem/1rem var(--text-color);*/
  color:#000;
  position: relative;
  font-size: 1rem;
  background: transparent;
  border: 1px solid var(--text-color);
  border-radius: 16px;
}
.button.primary-button{
  background: transparent;
  background-clip: padding-box;
  color: #000;
  transition: background .6s ease;
  box-shadow:0 10px 30px rgba(57,56,61,0.205);
}
.button.primary-button:hover{
  background: black;
  background-clip: padding-box;
  color: white;
}
.button.primary-button::after,.button.secondary-button::after {
  position: absolute;
  top:-2px;
  left:-2px;
  bottom:-2px;
  right:-2px;
  background:transparent;
  content:"";
  z-index: -1;
  border-radius: 4px;
}
.button.secondary-button{
  background: #000;
  color: #fff;
  letter-spacing: 2px;
  background-clip: padding-box;
  transition: background .6s ease;
}
.button.secondary-button:hover{
  background: transparent;
  color: #000;
  box-shadow: 0 10px 30px rgba(57,56,61,0.205);
}


/* SIDE BAR */
.navbar {
    transition: all 0.7s ease;
}
.sidebar_inner {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: var(--primary-color);
  z-index: 999;
  transition: all 0.3s ease;
}
.sidebar_inner .profile_info .profile_img {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  background: #fff;
  border-radius: 50%;
}
.sidebar_inner .profile_info .profile_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sidebar_inner .profile_info .profile_name {
  font-weight: 700;
  font-family: var(--title-font);
  margin: 5px 0;
}

/* MENU */
.sidebar_menu li {
  /*border: 1px solid white;*/
  text-align: center;
  margin: 5px 0;
}
.sidebar_menu li a {
  color: #fff;
  padding: 12px 0;
  position: relative;
}
.sidebar_menu li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: var(--secondary-color);
  display: none;
}
.sidebar_menu li a:hover,
.sidebar_menu li a:focus {
  background: #011135;
}
.sidebar_menu li a:hover:before {
  display: block;
}


.strip {
  background: var(--primary-color);


}
.strip button {
  padding: 0 !important;
}
.text-dark{
  color: black;
}

.navbar-toggler {
  display: none;
  position: relative;
  font-size: 20px;
  height: 30px;
  width: 30px;
  overflow: hidden;
  /*background: #fff;*/
  padding: 0;

}
.toggle-icon {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 30px;
  color: #fff;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo a {
  position: relative;
  color: var(--secondary-color);
  font-size: 40px;
  font-family: var(--subtitle-font);
  font-style: italic;
  text-align: center;
}
.logo a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--secondary-color);
  
}
.close {
  position: absolute;
  top: 5px;
  right: 15px;
  color: #fff;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  display: none;
}
.close:hover{
  opacity:0.5;
}


@media only screen and (max-width: 768px) {
  .
  .navbar-toggler {
    display: block;
  }
 .strip {
  overflow: hidden;
 }
.sidebar_inner .profile_info .profile_img {
  position: relative;
  width: 90px;
  height: 90px;
  overflow: hidden;
  background: #fff;
  border-radius: 50%;
}
.logo a {
  position: relative;
  color: var(--secondary-color);
  font-size: 28px;
  font-family: var(--subtitle-font);
  font-style: italic;
  text-align: center;
}
.sidebar_inner .profile_info .profile_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sidebar_inner .profile_info .profile_name {
  font-weight: 700;
  font-family: var(--title-font);
  margin: 5px 0;
  font-size: 16px;
}
/* MENU */
.sidebar_menu li {
  /*border: 1px solid white;*/
  text-align: center;
}
.sidebar_menu li a {
  color: #fff;
  padding: 8px 0;
  position: relative;

}
.close {
  display: block;
}
.about-info p {
  letter-spacing: 2px;
  font-size: 1em;
  text-align: center;
}
.about-info h4{
  letter-spacing: 2px;
  text-align: center;
  line-height: normal;
  font-family: ink free;
  text-transform: uppercase;
}
.form-button{
  margin-top: 5px;
  padding: .3rem .5rem;
  border-radius: 10px;
}

.socila-links li a {
  margin: 7px 0;
  border: none;
}

}
